sslyze
tldextract
lxml
pillow
scapy
pexpect
idna
bs4
six
tld
shodan
requests
python-nmap
google
emailprotectionslib
builtwith
mechanize
mysql
MySQL-python
cryptography>=42.0.4 # not directly required, pinned by Snyk to avoid a vulnerability