sslyze
tldextract
lxml
pillow
scapy
pexpect
idna
bs4
six
tld
shodan
requests
python-nmap
google
emailprotectionslib
builtwith
mechanize
mysql
MySQL-python
pyopenssl>=24.0.0 # not directly required, pinned by Snyk to avoid a vulnerability